body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #4f2828;
}

input {
    border-color: lightcoral;
    border-radius: 5px;
    width: 250px;
    text-align: center;
}
button {
    width: 260px;
    background-color: lightcoral;
    color: #4f2828;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
div{
    margin: 10px;
}
